header {
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    text-transform: uppercase;
    padding: 0 30px;
    font-size: 1.2em;
}

header nav {
    display: flex;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 0 15px;
    color: #555;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: lightseagreen;
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
}

nav .nav-cart span {
    position: absolute;
    top: -15px;
    right: -7px;
    font-size: 12px;
    background-color: crimson;
    border-radius: 50%;
    padding: 3px 5px;
    color: white;
    z-index: -1;
}

header .menu,
header .close {
    display: none;
}

@media (max-width: 650px) {
    header ul {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.4s linear;
    }

    header .menu,
    header .close {
        display: block;
    }

    header .close{
        position: absolute;
        top: 10px;
        right: 30px;

    }
    header ul.toggle{
        top: 0;
    }
}
